<div ng-controller="ItemController">
  <div ng-repeat='item in items' ng-show='allItem'>
  <h2>{{item.name}}</h2>
  <img src="{{item.url}}">
  <p>Description: {{item.description}}</p>
  <p>Price: ${{item.price}}</p>
  <p>In stock: {{item.quantity}}</p>
  <input type='integer' ng-model='item.add'>
  <button type='button' ng-click='addItem(item)'>Add!</button>
  <p ng-show='itemQuantity'>Not enough in stock!</p>
  </div>
</div>