<div ng-show='empty'>
  <h3>Your cart is empty!</h3>
  <button type='button' ng-click="keepShopping()">Continue shopping</button>
</div>
<div ng-show='cart'>
  <p>Items in your shopping cart</p>
  <p ng-repeat='item in cartItems'>{{item.add}} {{item.name}}</p>
  <p>Subtotal: ${{order.cost}}</p>
  <label for='name'>Please input your name:</label>
  <input type="text" ng-model='order.person' id='name'><br>
  <p ng-show='nameEmpty' style='color:red;'>Your name can't be empty!</p>
  <button type='button' ng-click='submit()'>SUBMIT!</button>
</div>
<div ng-show='purchase'>
  <h3>Thanks for shopping with us!</h3>
  <button type='button' ng-click="keepShopping()">Continue shopping</button>
  <button type='button' ng-click="viewOrders()">View all orders</button>
</div>
